body {
  margin: 0;
}

.appContainer {
  height: 100vh;
  width: 100vw;
  //background-color: lightblue;
  display: grid;
  grid-template-rows: [navBar] 70px [elements] 1fr [footer] 50px;
}

.loginNavBar {
  background-color: lightcoral;
  height: fit-content;
}

.signUpNavBar {
  background-color: lightgrey;
}

.footerContainer {
  background-color: lightyellow;
}

.landingPage {
  background-image: url('https://res.cloudinary.com/nena/image/upload/v1637804772/IterationProject/landingImage_lk1yz4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.loginStyles{
  background-color: grey;
  width: fit-content;
  padding: 26px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  border-radius: 10px;
  position: absolute;
  right: 100px;
  top: 300px;
  form{
    display: flex;
    align-items: center;
    flex-direction: column;
    label{
      display: block;
      margin: 5px;
    }
    input{
      border-radius: 5px;
      border: 1px solid grey;
    }
  }
  #signUpButton{
    margin-top: 10px;
    display: block;
  }
}

//can do password and email border radius


/* ********************* CREATE TASK CARD STYLES *********************** */
.createTaskStyling{
  background-color: grey;
  width: fit-content;
  padding: 26px;
  display: flex;
  flex-direction: column; 
  border-radius: 10px;
  position: absolute;
  right: 100px;
  top: 300px;
  form{
    display: flex;
    flex-direction: column;
    input{
      border-radius: 5px;
      border: 1px solid grey;
    }
  }
}

.taskCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submitTaskButton {
  background-color: rgb(148, 178, 224);
  text-emphasis-color: white;
  color: white;
  border-radius: 5px;
  size-adjust: 25%;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
  font-family: inherit;
  margin-left: 220px;
}

.taskForm {
  width: 600px;
  align-items: center;
}

.taskCreaterForm {
  text-align: right;
  width: max-content;
  margin-left: auto;
  margin-right: 70px;
}

.enterReward {
  text-align: right;
  width: max-content;
  margin-left: auto;
  margin-right: 70px;
  margin-top: 30px;
}

.formTitle{
  align-self: center;
}

.taskAndRewardInputDiv{
  display: inline-block;
}

